@tailwind base;

@import url("https://p.typekit.net/p.css?s=1&k=rdi0rol&ht=tk&f=15705.25646&a=1506269&app=typekit&e=css");
@font-face {
font-family:"freight-neo-pro";
src:url("https://use.typekit.net/af/54d47a/000000000000000000017750/27/l?primer=8fa4b058e82492e04d7cdf52b0e62c529469bc2a019e2b65c17d5e267ca91b8d&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/54d47a/000000000000000000017750/27/d?primer=8fa4b058e82492e04d7cdf52b0e62c529469bc2a019e2b65c17d5e267ca91b8d&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/54d47a/000000000000000000017750/27/a?primer=8fa4b058e82492e04d7cdf52b0e62c529469bc2a019e2b65c17d5e267ca91b8d&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"lato";
src:url("https://use.typekit.net/af/220823/000000000000000000015231/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/220823/000000000000000000015231/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/220823/000000000000000000015231/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

.title {
  @apply text-gray-600 font-header;
}

.paragraph {
  @apply text-gray-800 font-base;
}

.metadata {
  @apply text-gray-600;
}

.btn {
  @apply text-white py-2 px-3 bg-gray-600;
}

p strong {
  @apply text-gray-700 bg-yellow-200;
}

h1 {
   @apply title text-gray-600 text-xl mt-10 mb-2;
}

h2 {
   @apply title text-lg;
}

h3, h4 {
   @apply title text-base;
}

html {
  @apply paragraph text-sm mb-10;
}

.main-content {
    @apply min-w-0 max-w-sm mx-auto;
}

p {
  @apply mt-1 mb-2;
}

h2, h3, h4, .btn {
  @apply mt-3 mb-1;
}

@tailwind components;

@screen sm {
  h1 {
    @apply mt-12 mb-4;
  }

  h1 {
   @apply title text-2xl mt-10 mb-2;
  }

  h2 {
    @apply title text-xl;
  }

  h3, h4 {
    @apply title text-lg;
  }

  html {
    @apply paragraph text-base;
  }

  h2, h3, h4 {
    @apply mt-4 mb-2;
  }

  .main-content {
    @apply max-w-md mx-auto;
  }
}

@screen md {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3, h4 {
    @apply text-xl;
  }

  html {
    @apply text-lg;
  }

  .main-content {
    @apply max-w-xl mx-auto;
  }
}

@screen lg {

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3, h4 {
    @apply text-xl;
  }

  html {
    @apply text-lg;
  }

  .main-content {
    @apply max-w-xl mx-auto;
  }
}

@screen xl {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3, h4 {
    @apply text-xl;
  }

  html {
    @apply text-lg;
  }

  .main-content {
    @apply max-w-xl mx-auto;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #718096;
  margin: 1.5em 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #718096;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

@tailwind utilities;