// colors
$accentColor = #718096
$textColor = #718096
$borderColor = #718096
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #718096
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961